ul{
    margin: 0;
    padding: 0;
}
body{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color:  #353535;
    line-height: 1.6;
    min-width: 320px;
}
*{
    padding: 0;
    margin: 0;
}


/* common */
.clearfix {
    list-style: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.clear {
    display: block;
    clear: both;
}

.holder {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

img {
    /* width: 300px; */
    /* height: 200px; */
    max-width: 100%;
}

a {
    color:  #353535;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* END: common */


/* Header */
.header1 {
    height: 36px;
    background: #171718;
    font-size: 12px;
}

.header1 .holder, .header-main .holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header1 .andress {
    display: flex;
    color: #fff;
}

.header1 .andress li {
    margin-right: 20px;
    padding: 9px 0px;
}
.header1 .andress li i {
    margin-right: 5px;
}
.header1 .andress li a {
    color: #fff;
}


.header1 .search {
}
.header1 .search li {
    display: inline-block;
    position: relative;
    padding: 9px 10px;
    margin-left: 5px;
}
.header1 .search li a {
    color: #fff;
}
.header1 .search li a i {
    font-size: 15px;
}
.header1 .search li >.username{
    font-size: 15px;
    font-weight: bold;
}
.header1 .search li form {
    display: none;
    min-width: 260px;
    padding: 30px 54px 30px 20px;
    border-radius: 3%;
    border: 1px solid #ddd;
    background: #fff;
    box-shadow: 1px 1px 15px rgba(14, 10, 10, 0.15);
    position: absolute;
    right: -50px;
    top: 36px;
    z-index: 10;
}

.header1 .search li form::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: -16px;
    right: 60px;
}

.header1 .search li.item-search:hover form {
    display: block;
}

.header1 .search li  form input {
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 1px 1px 15px rgba(14, 10, 10, 0.15);
    width: 100%;
    outline: none;
    font-size: 15px;
}
.header1 .search li form button {
    background: #d00122;
    padding: 5px 12px;
    box-shadow: 1px 1px 15px rgba(14, 10, 10, 0.15);
    color: #fff;
    position: absolute;
    right: 23px;
    top: 30px;
    height: 36px;
    border: none;
    font-size: 12px;
}
/* END: Header */

/* header-main */
.header-main {
    position: relative;
    border-bottom: 1px solid #ddd;
    background: #eeeff3;
}
.header-main .holder {
    display: flex;
    justify-content: space-between;
}
.header-main .logo {
    padding: 10px 0;
}
.header-main .logo a {}
.header-main .logo a img {
    width: 150px;
}
.header-main .main-menu {
    height: 90px;
}
.header-main .main-menu > ul {
    display: flex;
    height: 100%;
    align-items: center;
}
.header-main .main-menu > ul li {
    margin: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.header-main .main-menu > ul > li > a {
    display: block;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    color: #7a7a8e;
}

.header-main .main-menu > ul > li.active > a,
.header-main .main-menu > ul > li > a:hover,
.header-main .main-menu > ul > li:hover > a {
    background: #d00122;
    color: #fff;
    
}
.header-main .main-menu > ul > li > ul li{
    /* width: 100%; */
}
.header-main .main-menu > ul li ul {
    z-index: 10;
    display: none;
    width: 200px;
    position: absolute;
    list-style: none;
    padding: 10px 0;
    background: #ffffff;
    border: 1px solid #ddd;
    top: 90%;
    font-size: 13px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.header-main .main-menu > ul >li> ul .parent-menu ul{
    top: 0;
    left: 95%;
}
.header-main .main-menu > ul> li >ul .parent-menu ul::after{
    content: "";
    display: none;
}


.header-main .main-menu > ul ul::after {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    top: -18px;
    left: 26px; 
}

.header-main .main-menu  ul  li:hover > ul {
    display: block;
}

.header-main .main-menu  ul ul li{}
.header-main .main-menu > ul ul li a{
    line-height: 30px;
    padding: 0 20px;
    display: block;
}

.header-main .main-menu > ul ul li a:hover {
    background: #ddd;
}

.header-main .cart {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.header-main .cart > a {
    display: block;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 13px;
    color: #7a7a8e;
}
.header-main .cart > a span {
    text-transform: uppercase;
}
.header-main .cart > a .quantity {
    border: 2px solid #d00122;
    padding: 6px 9px;
    margin-left: 15px;
    color: #d00122;
}
.header-main .cart > a .quantity::after{
    content: "";
    display: inline-block;
    height: 10px;
    width: 13px;
    border: 2px solid #d00122;
    border-radius: 10px 10px 0 0;
    position: absolute;
    bottom: 39px;
    right: 6%;
}
.header-main .cart > a:hover .quantity{
    background: #d00122;
    color: #fff;
}
.header-main .cart > a:hover .quantity::after{
    height: 12px;
}

.header-main .cart .cart-list {
    min-width: 260px;
    position: absolute;
    z-index: 13;
    top: 100%;
    background: #fff;
    right: 18px;
    padding: 15px 20px;
    box-shadow: 1px 1px 15px rgba(14, 10, 10, 0.15);
    border-radius: 3px;
    display: none;
    max-height: 700px;
}
.header-main .cart:hover .cart-list{
    display: block;
}
.header-main .cart .cart-list .has-product{
    max-height: 250px;overflow-y: scroll;
}
.header-main .cart .cart-list .has-product table{width: 100%;}
.header-main .cart .cart-list .has-product table tr td{
    padding: 10px 5px;
    position: relative;
    border-bottom: 1px solid #ddd;
}
.header-main .cart .cart-list .has-product table tr td img{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
}
.header-main .cart .cart-list .has-product table tr td a{
    font-size: 14px;
}
.header-main .cart .cart-list .has-product table tr td p{
    font-size: 13px;
}
.header-main .cart .cart-list .has-product table tr td .delete-product{
    line-height: 4px;
    border: 2px solid #ddd;
    border-radius: 100%;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #ececec;
    color: #ccc;
}
.header-main .cart .cart-list .total{
    margin-top: 10px;
    text-align: center;
}
.header-main .cart .cart-list .btn-view-cart{
    background: #d00122;
    color: #fff;
    padding: 6px;
    display: block;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.header-main .cart .cart-list .btn-checkout{
    background: #d26e4b;
    color: #fff;
    padding: 6px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.header-main  .cart .cart-list::before {
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: -16px;
    right: 61px;
}
/* END: header-main */


/* Login */
.login .modal-content{
    margin-top: 100px!important;
    width: 600px;
    margin: auto;
}
.login .panel{

    background: #eeeff3;
    padding: 20px;
    border-radius: 3px;
}
.login .panel .logo img{
    max-width: 200px;
    max-height: 60px;
}

.login .panel form .btn-login{
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 15px;
    background: #d00122;
    border: none;
    color: #fff;
    margin-top: 30px;
}
.login .panel .register{
    color: #333;
    font-size: 14px;
}
.login .panel .register:hover{
    color: #111;
}

/* END: Login; */
@-webkit-keyframes fadeDown {
    from {
        opacity:0;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        transform: translateY(-100px);
    }
    to {
        opacity:1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

/* Header reponsive */
@media screen and (max-width: 630px){
    .header-main .menu > li{
        margin-left: 5px;
    }
}
@media screen and (max-width: 1000px){
    .header-main .holder{
        padding: 0px 40px;
    }
    /* .header-main{
        padding: 0px 80px;
    } */
    .header-main .menu{
        font-size: 13px;
        display: flex;
        padding: 17px 0px;
    }
    .header-main .cart{
        font-size: 12px;
    }
    .header-main .logo {
        width: 100px;
        height: 66px;
}

/* END: Header reponsive */